h1 {
  margin-bottom: none;
}

h1, .page-content > * {
  padding: 1rem 2rem;
}

#upload-error-message {
  margin: 1rem 2rem;
}

.page-content {
  display: flex;
  justify-content: space-between;

  > * {
    width: 50%;
  }
}
