html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

main {
  display: flex;
  width: fit-content;
}

#windwaker-link {
  height: 12.5rem;
  width: 12.5rem;
}

p {
  height: fit-content;
  margin: 6.8025em 0 0;
  font-size: 1.135rem;
}
