<div class="track-container">
  <ng-container *ngIf="active">
    <!-- *ngIf="playIconNumber === 0" -->
    <hll-flute-skullkid
    *ngIf="playIconNumber === 0"
    [@fadeInOut]>
    </hll-flute-skullkid>
    <hll-pipes-dekukid
      *ngIf="playIconNumber === 1"
      [@fadeInOut]>
    </hll-pipes-dekukid>
    <hll-drums-goron-link
      *ngIf="playIconNumber === 2"
      [@fadeInOut]>
    </hll-drums-goron-link>
    <hll-guitar-zora-link
      *ngIf="playIconNumber === 3"
      [@fadeInOut]>
    </hll-guitar-zora-link>
    <hll-lyre-sheik
      *ngIf="playIconNumber === 4"
      [@fadeInOut]>
    </hll-lyre-sheik>
  </ng-container>

  <button
    (click)="hanldePlayBtnClick()"
    (mouseover)="playButton.hovered = true"
    (mouseout)="playButton.hovered = false"
    #playButton>
    <hll-play-button [invertColors]="active || playButton.hovered"></hll-play-button>
  </button>

  <div class="track-details">
    <div class="track-header">
      <h3>{{ track.title }}</h3>
      <p>{{ track.duration }}</p>
    </div>

    <div class="track-popularity-tags">
      <p>{{ track.likes }} hearts</p>
      <ul class="tags">
        <li class="tag" *ngFor="let tag of track.tags">
          {{ tag }}
        </li>
      </ul>
    </div>

    <input id="volume-slider" type="range" min="0" max="1" step="0.05" value="1" />

    <div class="play-progress-indicator" #progressIndicator (click)="testProgressIndicatorClick($event, progressIndicator)">
      <div
        class="play-progress-fill"
        [ngStyle]="progressIndicatorStyles">
      </div>
    </div>
  </div>
</div>

<audio
  #auidoPlayer
  src="http://localhost:8080/api/public/stream-audio/sample"
  (timeupdate)="onTimeUpdate()">
  Your browser does not support the <code>audio</code> element.
</audio>
