<div class="track-container">
  <ng-container *ngIf="active">
    <hll-flute-skullkid *ngIf="playIconNumber === 0"></hll-flute-skullkid>
    <hll-pipes-dekukid *ngIf="playIconNumber === 1"></hll-pipes-dekukid>
    <hll-drums-goron-link *ngIf="playIconNumber === 2"></hll-drums-goron-link>
    <hll-guitar-zora-link *ngIf="playIconNumber === 3"></hll-guitar-zora-link>
    <hll-lyre-sheik *ngIf="playIconNumber === 4"></hll-lyre-sheik>
  </ng-container>

  <button
    (click)="hanldePlayBtnClick()"
    (mouseover)="playButton.hovered = true"
    (mouseout)="playButton.hovered = false"
    #playButton>
    <hll-play-button [invertColors]="active || playButton.hovered"></hll-play-button>
  </button>

  <div class="track-details">
    <div class="track-header">
      <h3>{{ track.title }}</h3>
      <p>{{ track.duration }}</p>
    </div>

    <div class="track-popularity-tags">
      <p>{{ track.likes }} hearts</p>
      <ul class="tags">
        <li class="tag" *ngFor="let tag of track.tags">
          {{ tag }}
        </li>
      </ul>
    </div>

    <div class="play-progress-indicator">
      <div
        class="play-progress-fill"
        [ngStyle]="progressIndicatorStyles">
      </div>
    </div>
  </div>
</div>

<audio
  #auidoPlayer
  src="http://localhost:8080/api/public/stream-audio/sample"
  (timeupdate)="onTimeUpdate()">
  Your browser does not support the <code>audio</code> element.
</audio>
