<header>
  <hll-site-logo></hll-site-logo>

  <div class="nav">
    <p>Welcome, Zelda!</p>
    <div class="divider">|</div>
    <a>Log out</a>
  </div>
</header>

<main>
  <div class="tracks-header">
    <h2>Tracks</h2>
    <button>New Track</button>
  </div>
  <ul class="tracks">
    <li class="track">
      <button>
        <hll-play-button></hll-play-button>
      </button>
      <div class="track-details">
        <div class="track-header">
          <h3>Hey, Look, Listen</h3>
          <p>3:54</p>
        </div>
        <div class="track-popularity-tags">
          <p>5 hearts</p>
          <ul class="tags">
            <li>video-game</li>
            <li>hip hop</li>
            <li>mixed</li>
          </ul>
        </div>
      </div>
    </li>

    <li class="track">
      <button>
        <hll-play-button></hll-play-button>
      </button>
      <div class="track-details">
        <div class="track-header">
          <h3>Boy with Love</h3>
          <p>4:54</p>
        </div>
        <div class="track-popularity-tags">
          <p>6 hearts</p>
          <ul class="tags">
            <li>Pop</li>
            <li>K-Pop</li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</main>
