header, main {
  padding: 0 1.6875rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 0.6875rem;

  #logout {
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}


.nav {
  display: flex;

  .divider {
    margin: 0 10px;
  }
}

main {
  padding: 2.25rem 5rem 0;
}

.tracks-header {
  display: flex;
  justify-content: space-between;
}

.tracks .track {
  position: relative;
  display: flex;
  margin-top: 3.75rem;
}
