<header>
  <hll-site-logo></hll-site-logo>

  <div class="nav">
    <p>Welcome, Zelda!</p>
    <div class="divider">|</div>
    <a>Log out</a>
  </div>
</header>

<main>
  <div class="tracks-header">
    <h2>Tracks</h2>
    <button>New Track</button>
  </div>
  <ul class="tracks">
    <li class="track" *ngFor="let track of tracks">
      <hll-play-track
        [track]="track"
        [active]="track === selected"
        (playBtnClick)="handlePlayBtnClick($event)">

      </hll-play-track>
    </li>
  </ul>
</main>
