<header>
  <hll-site-logo></hll-site-logo>

  <div class="nav">
    <p>Welcome, Zelda!</p>
    <div class="divider">|</div>
    <a id="logout" role="link" (click)="logout()">Log out</a>
  </div>
</header>

<main>
  <div class="tracks-header">
    <h2>Tracks</h2>
    <a class="btn btn-dark new-track" [routerLink]="['/upload-track']">New Track</a>
  </div>
  <ul class="tracks">
    <li class="track" *ngFor="let track of tracks">
      <hll-track-player
        [track]="track"
        [active]="track === selected"
        (playBtnClick)="handlePlayBtnClick($event)">

      </hll-track-player>
    </li>
  </ul>
</main>
