header, main {
  padding: 0 1.6875rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 0.6875rem;
}

.nav {
  display: flex;

  .divider {
    margin: 0 10px;
  }
}

main {
  padding: 2.25rem 5rem 0;
}

.tracks-header {
  display: flex;
  justify-content: space-between;
}

.tracks .track {
  position: relative;
  display: flex;
  margin-top: 3.75rem;

  hll-flute-skullkid, hll-pipes-dekukid, hll-drums-goron-link, hll-guitar-zora-link, hll-lyre-sheik {
    position: absolute;
  }

  hll-flute-skullkid {
    top: -3.4375rem;
    left: .25rem;
    width: 2.15rem;
  }

  hll-pipes-dekukid {
    top: -2.4375rem;
    left: -0.625rem;
    width: 2.9375rem;
  }

  hll-drums-goron-link {
    top: -4.8125rem;
    height: 5.625rem;
  }

  hll-guitar-zora-link {
    height: 5.625rem;
    top: -4.025rem;
    left: -1.125rem;
  }

  hll-lyre-sheik {
    width: 3.25rem;
    top: -3.9375rem;
    left: -0.6875rem;
  }

  button {
    height: 3.375rem;
    width: 3.375rem;

    hll-play-button {
      display: block;
      width: 3rem;
      height: 3rem;
    }
  }

  .track-details .track-header {
    display: flex;
  }

  .track-details .tags {
    display: flex;
  }

  .track-details .tag {
    margin-right: .375rem;
    background-color: #000000;
    color: #ffffff;
    padding: .25rem .35rem;
    border-radius: .45rem;
  }
}
