/* You can add global styles to this file, and also import other style files */

html {
  font-size: 100%;
}

html, body {
  height: 100%;
}

h1, p {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}
