$logo-margin-top-tuneup: 1.5;

.home-page-content {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

hll-site-logo {
  font-size: 1.2rem;
  margin-top: -3.125rem * $logo-margin-top-tuneup;
}


@media (max-height: 375px) {
  hll-site-logo {
    margin-top: -2rem * $logo-margin-top-tuneup;
  }
}

@media (max-height: 325px) {
  hll-site-logo {
    margin-top: -1.5rem * $logo-margin-top-tuneup;
  }
}

@media (max-height: 160px) {
  hll-site-logo {
    margin-top: -0.5rem * $logo-margin-top-tuneup;
  }
}
