$logo-margin-top-tuneup: 1.5;

.home-page-content {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

hll-site-logo {
  font-size: 1.2rem;
  margin-top: -3.125rem * $logo-margin-top-tuneup;
}


@media (max-height: 375px) {
  hll-site-logo {
    margin-top: -2rem * $logo-margin-top-tuneup;
  }
}

@media (max-height: 325px) {
  hll-site-logo {
    margin-top: -1.5rem * $logo-margin-top-tuneup;
  }
}

@media (max-height: 160px) {
  hll-site-logo {
    margin-top: -0.5rem * $logo-margin-top-tuneup;
  }
}
// $proportion-factor: 1.5;

// .home-page-content {
//   display: flex;
//   height: 100%;
//   justify-content: center;
//   align-items: center;
// }

// .site-logo {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   margin-top: -3.125rem * $proportion-factor;
//   &:hover {
//     cursor: pointer;
//   }
// }

// hll-ocarina-link {
//   height: 6.25rem * $proportion-factor;
//   width: 4.625rem * $proportion-factor;
// }

// h1 {
//   margin-top: 0.875rem * $proportion-factor;
// }

// a {
//   font-size: 1rem * $proportion-factor;
//   color: #000000;
//   text-decoration: underline;
// }


// @media (max-height: 375px) {
//   .site-logo {
//     margin-top: -2rem * $proportion-factor;
//   }
// }

// @media (max-height: 325px) {
//   .site-logo {
//     margin-top: -1.5rem * $proportion-factor;
//   }
// }

// @media (max-height: 160px) {
//   .site-logo {
//     margin-top: -0.5rem * $proportion-factor;
//   }
// }
